.app-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background: transparent;
  font-size: 1lh;
  letter-spacing: 2px;
  border: 1px solid var(--color-accent-warm);
  color: var(--color-white);
  font-weight: 600;
  cursor: pointer;
  transition: all 120ms ease-in-out;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.app-button:hover {
  background-color: transparent;
  filter: drop-shadow(0 0 2px var(--color-accent-warm));
}

.app-button:active {
  transform: translateY(1px);
}

.app-button:focus-visible {
  outline: 2px solid var(--color-accent-warm-focus);
  outline-offset: 2px;
}

.app-button:focus:not(:focus-visible) {
  outline: none;
}
.app-button:disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}
