:root {
  --colorAccent: #f59e0b;
  --colorAccentFocus: #e6950b;
  --colorAccentHover: #cf870a;
}

.app-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background: none;
  font-size: 1lh;
  letter-spacing: 2px;
  border: 1px solid var(--colorAccent);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 120ms ease-in-out;
  white-space: nowrap;
}

.app-button:focus {
  outline: 2px solid var(--colorAccentFocus);
  outline-offset: 2px;
}

.app-button:hover {
  background-color: none;
  filter: drop-shadow(0 0 2px var(--colorAccent));
}

.app-button:disabled {
  background-color: #1e3a8a;
  cursor: not-allowed;
}
