.app-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  height: calc(100vh - 4rem);
  width: 100%;
  overflow: hidden;
  background-color: #111827;
}

.app-body > * {
  width: 100%;
  height: 100%;
}
