.app-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--color-bg-surface);
}

.app-body > * {
  width: 100%;
  height: 100%;
}

.app-body--transparent {
  background-color: transparent;
}
