.item-viewer {
  width: 100%;
}

.item-viewer__image,
.item-viewer__video {
  width: 100%;
  display: block;
  border: none;
}

.item-viewer__image {
  height: auto;
}

.item-viewer__video {
  background: var(--color-black);
  object-fit: cover;
}
