.item-viewer {
  width: 100%;
}

.item-viewer__image,
.item-viewer__video {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
  border: none;
}

.item-viewer__video {
  background: #000;
}
