@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0f172a;
  overflow: hidden;
  color: #e2e8f0;
}

.app-shell {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0f172a;
}

.font-heading {
  font-family: "Merriweather Sans", "Montserrat", "Segoe UI", Tahoma, Geneva,
    Verdana, sans-serif;
  font-optical-sizing: auto;
}

@keyframes slide-in-up {
  from {
    opacity: 0;
    transform: translate(-50%, 2rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes slide-in-down {
  from {
    opacity: 0;
    transform: translate(-50%, -2rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
