.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.not-found__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: var(--color-text-soft);
  text-align: center;
}

.not-found__image {
  max-width: 400px;
  width: 100%;
}

.not-found__image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
